<section id="activities">
    <div class="container">

        <header class="section-header wow fadeInUp">
            <h3>Our Activities</h3>
            <p>We ought to see that, those people with less privilege in the societies are remembered and their hope is restored back.</p>
        </header>

        <div class="row">

            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#first">VISITING THE ORPHAGE CENTERS</a></h4>
                <p class="description">The intention of visiting these centers is to relieve sufferings and necessities of orphans by supplying their needs but also to socialize with them...</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#1">COMFORTING PATIENTS FROM DIFFERENT HOSPITALS</a></h4>
                <p class="description">Nevertheless, that we are providing physical needs to those who are sick, but a tender visit and comfort in their chronic illness accompanied with...</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#2">TO VISIT PRISONERS</a></h4>
                <p class="description">Another step that is crucial is to comfort the prisoners, helping them with their basic needs, distributing to them books that will help them to...</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#3">SUPPORTING ELDERLY PEOPLE</a></h4>
                <p class="description">Many elderly individuals suffer from loneliness, neglect and psychological distress due to their dependence, as the team we have to take serious...</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#4">VISITING SCHOOLS AND IMPACTING YOUTHS LIFE</a></h4>
                <p class="description">Through motivations, and providing good presentations that will enlights the mind of many youth will bring a great impact upon many students...</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><a href="{% url 'hope:activities' %}#5">CONDUCTING HEALTH SEMINORS</a></h4>
                <p class="description">Prevention is better than cure. We will join hands together with other members of health professions to create an education platform on health...</p>
            </div>

        </div>

    </div>
</section>