.hero-wrap {
    width: 100%;
    height: calc(100vh - 117px);
    min-height: 700px;
    position: relative;
}

.hero-wrap.hero-wrap-2 {
    height: 600px;
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #000;
}

.hotel-img,
.hero-wrap,
.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.slider-text {
    color: #fff;
    height: 700px;
}

.slider-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .slider-text h1 {
        font-size: 40px;
    }
}

.slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}

.slider-text p a {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.slider-text p a span {
    color: #fff;
}

.slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
}

.slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

.slider-text .breadcrumbs span a {
    color: #fff;
}

.slider-text .bread {
    font-weight: 400 !important;
}

.slider-text .btn-outline-white {
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

.slider-text .btn-outline-white span {
    color: #fff;
}

.slider-text .btn-outline-white:hover span {
    color: #f86f2d;
}

.categories li,
.sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a,
.sidelink li a {
    display: block;
}

.categories li a span,
.sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
    color: #000;
    font-style: italic;
}

.image {
    width: 100%;
    height: 400px;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.blog-wrapper .article-title {
    font-size: 1.5rem;
}

.blog-wrapper .post-meta {
    margin: 1rem 0;
}

.blog-wrapper .post-meta ul {
    border-left: 4px solid #0078ff;
    margin-top: 1rem;
}

.blog-wrapper .post-meta ul li {
    display: inline-block;
    margin-left: 15px;
}

.blog-wrapper .post-meta ul a {
    color: #0078ff;
}

.blog-wrapper .post-meta ul span {
    color: #1e1e1e;
}

.blog-wrapper .blockquote {
    border-left: 4px solid #0078ff;
    padding: 18px;
    font-style: italic;
}

.blog-wrapper .article-title {
    font-size: 1.9rem;
}

.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.widget-sidebar {
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 3rem;
}

.widget-sidebar .sidebar-title {
    font-size: 1.6rem;
    font-weight: 600;
    border-left: 5px solid #0078ff;
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.widget-sidebar .list-sidebar li {
    position: relative;
    padding: 6px 0 6px 24px;
}

.widget-sidebar .list-sidebar li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    left: 0;
    background-color: #0078ff;
    top: 20px;
}

.widget-tags ul li {
    display: inline-block;
    background-color: #0078ff;
    padding: .2rem .6rem;
    margin-bottom: .5rem;
    border-radius: 15px;
}

.widget-tags ul li a {
    color: #fff;
}

.related img:hover {
    opacity: 0.7;
    transition: 0.3s;
    transform: scale(1.01);
}