{% extends "hope/pages/blog/blog-base.html" %} {% load static %} {% block content %}

<section class="pt-5" id="about">
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-justify">
                    <div class="col-md-12 pt-lg-5" id="abt">

                        <h2 class="mb-3">About Us</h2>
                        <p class="lead">
                            There is hope foundation group, is the society created on 1<sup>st</sup> of august 2020, consisting of both undergraduates, graduates, other supporters outside the campus, Created with the purpose of bringing back the living
                            hope to the thousands of people who are suffering outside over there, this includes, visiting orphanage centers, hospitals, drug addicted centers, and prisoners.
                        </p>
                        <p>
                            The group is open to any individual who will be touched to support this foundation in either way ,i.e providing money, clothes , Bibles , and other materials which will be helpfull while we will be conducting the Charity events;may God bless you as plan
                            to support His dearly Children;
                        </p>

                    </div>
                    <div class="col-md-12 pt-lg-5" id="mission">

                        <h2 class="mb-3">Our Mission</h2>
                        <p>The Greatest mission complies with the mission of Christ in luke 19;10 <q class="font-italic lead" style="background-color: aliceblue;"> For the son of man has come to seek and to save that which was lost</q> knowing this There
                            is Hope foundation group have joined hands together to support differrent people and beloved who are passing through hard times , this includes , orphans , prisoners, patients who are in the hospitals,and the Drug addicted
                            people.
                        </p>
                        <div class="image">
                            <img src="{% static 'assets/img/intro-carousel/1.jpg' %}" alt="" class="img-fluid h-100 p-3">
                        </div>
                        <p>The organisation will help them both physically, psychologically and spiritualy by providing them with their material needs, creating a friendship,socializing with them; But above all sharing with them the Words of life from the
                            HOLY BIBLE.</p>

                    </div>
                    <div class="col-md-12 pt-lg-5" id="plan">

                        <h2 class="mb-3">Our Plan</h2>
                        <p>There is hope foundation group has got different amazing plans to fullfill their dreams as follows;</p>
                        <ol>
                            <li>To have one charity event after every two months, where we will visit one of the groups in need,i.e orphans in their orphanage center and the line will follow up.</li>
                            <li>Every member who will be willing to join the team will contribute 5000/=Tsh ( 2 USD) as the subscription fee per month to sustain all plans and execution of the charity event Planed </li>
                            <div class="image pt-2">
                                <img src="{% static 'assets/img/intro-carousel/2.jpg' %}" alt="" class="img-fluid h-100 p-3">
                            </div>
                            <li>The organisation has created a project plan of producing Tshirt with the Brand <em>There is hope</em>, and all of the profit shall be directed to support the Foundation in all of its activities</li>
                        </ol>

                    </div>
                    <div class="col-md-12 pt-lg-5" id="vision">

                        <h2 class="mb-3">Our Vision</h2>
                        <p>Our vision is to restore and revive back the living Hope to the thousands of people who are passing through hard times in this life and those who are at the edge of giving up their lives, and showing them the Light of truth and
                            hope in this degenerate age.
                        </p>
                        <div class="image">
                            <img src="{% static 'assets/img/intro-carousel/5.jpg' %}" alt="" class="img-fluid h-100 p-3">
                        </div>
                        <strong>psalms 82;3-5</strong>
                        <blockquote class="col-md-11 offset-sm-1 font-italic" style="background-color: aliceblue;"> <i class="fa fa-quote-left"></i> Defend the poor and fatherless; do justice to the afflicted and needy; deliver the poor and the needy rid them out of the hand of the wicked; they know not; neither will they understand; they walk
                            on in darkness; all the foundations of the earth are out of course <i class="fa fa-quote-right"></i>. <abbr title="King James Version">KJV</abbr>
                        </blockquote>

                    </div>

                    <div class="about-author d-flex p-5 bg-light">
                        <div class="bio align-self-md-center mr-3" style="">
                            <img src="{% static 'assets/img/victor2.jpg' %}" alt="Image placeholder" class="mb-4" style="height: 150px; width: 150px; object-fit: cover; border-radius: 100%;">
                        </div>
                        <div class="desc align-self-md-center ">
                            <h3>Victor Jumanne Joshua</h3>
                            <p class="font-italic">
                                <i class="fa fa-quote-left"></i> pure religion and undefiled before God and the Father is this, To visit the Fatherless and Widows in their affliction , and to keep oneself unspotted from the World james 1;27

                                <i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                    </div>


                </div>
                <!-- .col-md-8 -->
                <div class="col-md-4 sidebar ftco-animate">

                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3>Categories <span>({{portfolio.count}})</span></h3>
                            <li><a href="{% url 'hope:portfolios' %}" data-filter=".filter-hospital">Hospital <span></span></a></li>
                            <li><a href="{% url 'hope:portfolios' %}">Prisons <span></span></a></li>
                            <li><a href="{% url 'hope:portfolios' %}">Orphanage <span></span></a></li>
                            <li><a href="{% url 'hope:portfolios' %}">Sobber house <span></span></a></li>
                            <!-- <li><a href="#">Foods <span>(14)</span></a></li>
                            <li><a href="#">Travel <span>(140)</span></a></li> -->
                        </div>
                    </div>


                    <!-- <div class="sidebar-box ftco-animate">
                        <h3>Tag Cloud</h3>
                        <div class="tagcloud">
                            <a href="#" class="tag-cloud-link">dish</a>
                            <a href="#" class="tag-cloud-link">menu</a>
                            <a href="#" class="tag-cloud-link">food</a>
                            <a href="#" class="tag-cloud-link">sweet</a>
                            <a href="#" class="tag-cloud-link">tasty</a>
                            <a href="#" class="tag-cloud-link">delicious</a>
                            <a href="#" class="tag-cloud-link">desserts</a>
                            <a href="#" class="tag-cloud-link">drinks</a>
                        </div>
                    </div> -->

                </div>

            </div>
        </div>
    </div>
</section>
<!-- .section -->


{% endblock content %}