{% extends "hope/pages/blog/blog-base.html" %} {% block content %}

<section id="portfolio" class="section-bg">
    <div class="container">

        <header class="section-header" id="title">
            <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-hospital">Hospital</li>
                    <li data-filter=".filter-prisons">Prisons</li>
                    <li data-filter=".filter-orphanage">Orphanage</li>
                    <li data-filter=".filter-drug_addiction">Drug Addiction</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">
            {% for portfolio in portfolio %} {% if portfolio.category == 'hospital' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-hospital wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{{ portfolio.img_url }}#{{portfolio.id}}" class="img-fluid" alt="">
                        <a href="{{ portfolio.img_url }}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}">{{ portfolio.title }}</a></h4>
                        <p>{{ portfolio.category }}</p>
                    </div>
                </div>
            </div>
            {% elif portfolio.category == 'prisons' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-prisons wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{{ portfolio.img_url }}#{{portfolio.id}}" class="img-fluid" alt="">
                        <a href="{{ portfolio.img_url }}" class="link-preview" data-lightbox="portfolio" data-title="{{ portfolio.title }}" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}">{{ portfolio.title }}</a></h4>
                        <p>{{ portfolio.category }}</p>
                    </div>
                </div>
            </div>
            {% elif portfolio.category == 'orphanage' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-orphanage wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{{ portfolio.img_url }}#{{portfolio.id}}" class="img-fluid" alt="">
                        <a href="{{ portfolio.img_url }}" class="link-preview" data-lightbox="portfolio" data-title="{{ portfolio.title }}" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}">{{ portfolio.title }}</a></h4>
                        <p>{{ portfolio.category }}</p>
                    </div>
                </div>
            </div>
            {% elif portfolio.category == 'drug_addiction' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-drug_addiction wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{{ portfolio.img_url }}#{{portfolio.id}}" class="img-fluid" alt="">
                        <a href="{{ portfolio.img_url }}" class="link-preview" data-lightbox="portfolio" data-title="{{ portfolio.title }}" title="Preview"><i class="ion ion-eye"></i></a>
                        <a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="{% url 'hope:view' portfolio.slug %}#{{portfolio.id}}">{{ portfolio.title }}</a></h4>
                        <p>{{ portfolio.category }}</p>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}

        </div>

    </div>
</section>
{% endblock content %}