{% extends "hope/pages/blog/blog-base.html" %} {% block content %}
<!-- Page Content -->
<div class="container" id="{{portfolio.id}}">

    <!-- Portfolio Item Heading -->
    <h2 class="my-5">{{ portfolio.title }}
    </h2>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8" style="height: 400px;">
            <img class="img-fluid" src="{{ portfolio.img_url }}" alt="" style="width: 100%; object-fit: cover; height: 100%;">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Work Description</h3>
            <p>{{ portfolio.description }}
            </p>
            <h3 class="my-3">Project Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Activities</h3>

    <div class="row">
        {% for related in related %}
        <div class="col-md-3 col-sm-6 mb-4 related">
            <a href="{% url 'hope:view' related.slug %}#{{ related.id }}">
                <img class="img-fluid" src="{{ related.img_url }}" alt="" style="object-fit: cover; height: 180px; width: 100%;">
            </a>
        </div>
        {% endfor %}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}