{% extends 'hope/main/main.html' %} {% load static %} {% block content %}

<!--==========================
      About Us Section
    ============================-->
<section id="about">
    <div class="container">

        <header class="section-header">
            <h3>About Us</h3>
            <p>
                There is hope foundation group, is the society created on 1<sup>st</sup> of august 2020, consisting of both undergraduates, graduates, other supporters outside the campus, Created with the purpose of bringing back the living hope to the
                thousands of people who are suffering outside over there, <a href="{% url 'hope:about' %}#abt">Read more..</a>
            </p>
        </header>

        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <a href="{% url 'hope:about' %}#mission" class="h-100">
                            <img src="{% static 'assets/img/mission.jpg' %}" alt="" class="w-100 h-100">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        </a>
                    </div>
                    <h2 class="title"><a href="{% url 'hope:about' %}#mission">Our Mission</a></h2>
                    <p>
                        To help them both physically, psychologically and spiritualy by providing them with their material needs, creating a friendship,socializing with them; But above all sharing with them the Words of life from the HOLY BIBLE.
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <a href="{% url 'hope:about' %}#plan" class="h-100">
                            <img src="{% static 'assets/img/plan.jpeg' %}" alt="" class="w-100 h-100">
                            <div class="icon"><i class="ion-ios-list-outline"></i></div>
                        </a>
                    </div>
                    <h2 class="title"><a href="{% url 'hope:about' %}#plan">Our Plan</a></h2>
                    <p>
                        To have one charity event after every two months, where we will visit one of the groups in need,i.e orphans in their orphanage center and the line will follow up, producing Tshirt with the Brand <em>There is hope</em>,..
                    </p>
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <a href="{% url 'hope:about' %}#vision" class="h-100">
                            <img src="{% static 'assets/img/vision.jpg' %}" alt="" class="w-100 h-100">
                            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                        </a>
                    </div>
                    <h2 class="title"><a href="{% url 'hope:about' %}#vision">Our Vision</a></h2>
                    <p>
                        Our vision is to restore and revive back the living Hope to the thousands of people who are passing through hard times in this life and those who are at the edge of giving up their lives, and showing them the Light of truth...
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- #about -->

<!--==========================
  Activities Section
============================-->
{% include "hope/pages/indexComponents/activities.html" %}
<!-- #Activities -->

<!--==========================
  Call To Action Section
============================-->
<section id="call-to-action" class="wow fadeIn">
    <div class="row">
        <div class="col-md-6">
            <div class="container text-center">
                <h3>What is ThereIsHope?</h3>
                <p> There is hope foundation group, is the society created on 1st of august 2020, consisting of both undergraduates, graduates, other supporters outside the campus, Created with the purpose of bringing back the living hope to the thousands
                    of people who are suffering outside over there</p>
                <a class="cta-btn" href="{% url 'hope:about' %}#abt">See More</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-10">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/-JWFXgvXRlU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<!-- #call-to-action -->



<!--==========================
  Portfolio Section
============================-->
{% include "hope/pages/indexComponents/potfolio.html" %}
<!-- #portfolio -->



<!--==========================
  Clients Section
============================-->
<!-- <section id="testimonials" class="section-bg wow fadeInUp">
    <div class="container">

        <header class="section-header">
            <h3>Testimonials</h3>
        </header>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt=""> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh
                    et. Maecen aliquam, risus at semper.
                    <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt=""> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua
                    noster fugiat irure amet legam anim culpa.
                    <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt=""> Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet
                    eram fore quis sint minim.
                    <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt=""> Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna
                    sunt elit fore quem dolore labore illum veniam.
                    <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
            </div>

            <div class="testimonial-item">
                <img src="{% static 'assets/img/testimonial-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                    <img src="{% static 'assets/img/quote-sign-left.png' %}" class="quote-sign-left" alt=""> Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum
                    fugiat legam esse veniam culpa fore nisi cillum quid.
                    <img src="{% static 'assets/img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
                </p>
            </div>

        </div>

    </div>
</section> -->
<!-- #testimonials -->

<!--==========================
  Team Section
============================-->
<section id="team" class="wow fadeInUp">
    <div class="container">
        <div class="section-header wow fadeInUp">
            <h3>Team</h3>
            <p>ThereIsHope top management team</p>
        </div>

        <div class="owl-carousel testimonials-carousel">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp tm">
                    <div class="member h-100">
                        <img src="{% static 'assets/img/victor2.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Victor Jumanne Joshua </h4>
                                <span>Chair Person</span>
                                <!-- <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp tm" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="{% static 'assets/img/venture.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Liberatus Boniventure </h4>
                                <span>Deputy Chairperson</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp tm" data-wow-delay="0.2s">
                    <div class="member">
                        <img src="{% static 'assets/img/paul.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Nyang'oro Paul Mahamba </h4>
                                <span>Secretary</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 wow fadeInUp tm" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{% static 'assets/img/frida.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Geofrida Joseph Oisso</h4>
                                <span>Deputy Secretary</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp tm" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{% static 'assets/img/otieno.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Geoffrey Otieno</h4>
                                <span>Treasurer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp tm" data-wow-delay="0.3s">
                    <div class="member">
                        <img src="{% static 'assets/img/listen.jpg' %}" class="w-100 h-100" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>Godlisten Suruwale</h4>
                                <span>Communication Director</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- #team -->

<!--==========================
  Contact Section
============================-->
{% include "hope/pages/indexComponents/contact.html" %}
<!-- #contact -->

<style>
    .tm {
        height: 300px;
        margin-top: 5px;
    }
    
    .member {
        height: 100%;
    }
    
    .member img {
        object-fit: cover;
    }
    
    .img {
        height: 200px;
    }
    
    .img a img {
        object-fit: cover;
    }
</style>

{% endblock content %}