{% extends 'hope/main/main.html' %} {% load static %} {% block content %}

<section id="home" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>
                                Explore the Beauty of the Beautiful World

                            </h2>
                            <div class="about-btn">
                                <button class="about-view">
                                    explore now
                                </button>
                            </div>
                            <!--/.about-btn-->
                        </div>
                        <!--/.about-us-txt-->
                    </div>
                    <!--/.single-about-us-->
                </div>
                <!--/.col-->
                <div class="col-sm-0">
                    <div class="single-about-us">

                    </div>
                    <!--/.single-about-us-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.about-us-content-->
    </div>
    <!--/.container-->

</section>

<!-- mission, virsion.. -->

<section class="travel-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-travel-boxes">
                    <div id="desc-tabs" class="desc-tabs">

                        <ul class="nav nav-tabs" role="tablist">

                            <li role="presentation" class="active">
                                <a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">
                                    <i class="fa fa-tree"></i> Mission
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">
                                    <i class="fa fa-building"></i> Vision
                                </a>
                            </li>

                            <li role="presentation">
                                <a href="#objectives" aria-controls="objectives" role="tab" data-toggle="tab">
                                    <i class="fa fa-plane"></i> Objectives
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Mission -->
                            <div role="tabpanel" class="tab-pane active fade in" id="mission">
                                <div class="tab-para">

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>destination</h2>

                                                <div class="">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ex optio tempora id natus quis consequatur labore eum iste minima.</p>
                                                </div>

                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-8 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>check in</h2>
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa omnis tempore enim, blanditiis aspernatur est. Commodi facilis quod obcaecati?</p>
                                                </div>
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="travel-budget">
                                                <div class="row">

                                                </div>
                                                <!--/.row-->
                                            </div>
                                            <!--/.travel-budget-->
                                        </div>
                                        <!--/.col-->
                                        <div class="clo-sm-7">
                                            <div class="about-btn travel-mrt-0 pull-right">
                                                <button class="about-view travel-btn">
                                                    View More	
                                                </button>
                                                <!--/.travel-btn-->
                                            </div>
                                            <!--/.about-btn-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                </div>
                                <!--/.tab-para-->

                            </div>
                            <!--/.tabpannel-->
                            <!-- Vission -->
                            <div role="tabpanel" class="tab-pane fade in" id="vision">
                                <div class="tab-para">

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>destination</h2>

                                                <div class="">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ex optio tempora id natus quis consequatur labore eum iste minima.</p>
                                                </div>

                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-8 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>check in</h2>
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa omnis tempore enim, blanditiis aspernatur est. Commodi facilis quod obcaecati?</p>
                                                </div>
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                    <div class="row">
                                        <div class="col-sm-5"></div>
                                        <!--/.col-->
                                        <div class="clo-sm-7">
                                            <div class="about-btn travel-mrt-0 pull-right">
                                                <button class="about-view travel-btn">
                                                    View More	
                                                </button>
                                                <!--/.travel-btn-->
                                            </div>
                                            <!--/.about-btn-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                </div>
                                <!--/.tab-para-->

                            </div>
                            <!--/.tabpannel-->

                            <div role="tabpanel" class="tab-pane fade in" id="objectives">
                                <div class="tab-para">

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="single-tab-select-box">

                                                <h2>destination</h2>

                                                <div class="">
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ex optio tempora id natus quis consequatur labore eum iste minima.</p>
                                                </div>

                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                        <div class="col-lg-8 col-md-3 col-sm-4">
                                            <div class="single-tab-select-box">
                                                <h2>check in</h2>
                                                <div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa omnis tempore enim, blanditiis aspernatur est. Commodi facilis quod obcaecati?</p>
                                                </div>
                                            </div>
                                            <!--/.single-tab-select-box-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                    <div class="row">
                                        <div class="col-sm-5"></div>
                                        <!--/.col-->
                                        <div class="clo-sm-7">
                                            <div class="about-btn travel-mrt-0 pull-right">
                                                <button class="about-view travel-btn">
                                                    View More	
                                                </button>
                                                <!--/.travel-btn-->
                                            </div>
                                            <!--/.about-btn-->
                                        </div>
                                        <!--/.col-->

                                    </div>
                                    <!--/.row-->

                                </div>

                            </div>
                            <!--/.tabpannel-->

                        </div>
                        <!--/.tab content-->
                    </div>
                    <!--/.desc-tabs-->
                </div>
                <!--/.single-travel-box-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->

</section>
<!-- end mission -->

<!--service start-->
<section id="service" class="service">
    <div class="container">

        <div class="service-counter text-center">

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="{% static 'assets/images/service/s1.png' %}" alt="service-icon" />
                    </div>
                    <!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                            amazing tour packages
                            </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                    <!--/.service-content-->
                </div>
                <!--/.single-service-box-->
            </div>
            <!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="service-img">
                        <img src="{% static 'assets/images/service/s2.png' %}" alt="service-icon" />
                    </div>
                    <!--/.service-img-->
                    <div class="service-content">
                        <h2>
                            <a href="#">
                                book top class hotel
                            </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                    <!--/.service-content-->
                </div>
                <!--/.single-service-box-->
            </div>
            <!--/.col-->

            <div class="col-md-4 col-sm-4">
                <div class="single-service-box">
                    <div class="statistics-img">
                        <img src="{% static 'assets/images/service/s3.png' %}" alt="service-icon" />
                    </div>
                    <!--/.service-img-->
                    <div class="service-content">

                        <h2>
                            <a href="#">
                                online flight booking
                            </a>
                        </h2>
                        <p>Duis aute irure dolor in velit esse cillum dolore eu fugiat nulla.</p>
                    </div>
                    <!--/.service-content-->
                </div>
                <!--/.single-service-box-->
            </div>
            <!--/.col-->

        </div>
        <!--/.statistics-counter-->
    </div>
    <!--/.container-->

</section>
<!--/.service-->
<!--service end-->


<!-- Team -->
{% include 'hope/pages/indexComponents/team.html' %}
<!-- contact -->
{% include 'hope/pages/indexComponents/contact.html' %} {% endblock content %}