{% load static %}
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>ThereIsHope</h3>
                    <p>The main objective of this society is to restore and bring the living hope in the lives of many people who seems neglected, uncared and forgotten. This special groups includes, orphans, drug addicted people, prisoners, elderly people,
                        patients from the hospitals, also children who are homeless.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <!-- <h4>Useful Links</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                    </ul> -->
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Mikocheni <br> Dar es salaam<br> Tanzania <br>
                        <strong>Phone:</strong> +255 752 518 474<br>
                        <strong>Email:</strong> victorjumanne1997@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <!-- <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>About The Developer</h4>
                    <div class="flex">
                        <img class="float-left " src="{% static 'assets/img/me.jpg' %} " style="height: 3rem; width: 3rem; object-fit: cover; border-radius: 50%; " />
                        <p>I'm<strong> Eliya Joseph</strong>, a full stack software Developer. You can find my <a href="{% url 'hope:about_me' %}" target="_blank" rel="noopener noreferrer">Resume here</a> </p>
                    </div> -->
                <!-- <form action=" " method="post ">
                        <input type="email " name="email "><input type="submit " value="Subscribe ">
                    </form> -->
                <!-- </div> -->

            </div>
        </div>
    </div>

    <div class="container ">
        <div class="copyright ">
            &copy; Copyright <strong>ThereIsHope</strong>. All Rights Reserved
        </div>
        <!-- <div class="credits ">
            Designed by <a href="https://bootstrapmade.com/ ">BootstrapMade</a>
        </div> -->
    </div>
</footer>


<a href="# " class="back-to-top "><i class="fa fa-chevron-up "></i></a>
<!-- Uncomment below i you want to use a preloader -->
<div id="preloader "></div>

<!-- JavaScript Libraries -->
<script src="{% static 'assets/lib/jquery/jquery.min.js' %} "></script>
<script src="{% static 'assets/lib/jquery/jquery-migrate.min.js' %} "></script>
<script src="{% static 'assets/lib/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'assets/lib/easing/easing.min.js' %} "></script>
<script src="{% static 'assets/lib/superfish/hoverIntent.js' %} "></script>
<script src="{% static 'assets/lib/superfish/superfish.min.js' %} "></script>
<script src="{% static 'assets/lib/wow/wow.min.js' %} "></script>
<script src="{% static 'assets/lib/waypoints/waypoints.min.js' %} "></script>
<script src="{% static 'assets/lib/counterup/counterup.min.js' %} "></script>
<script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %} "></script>
<script src="{% static 'assets/lib/isotope/isotope.pkgd.min.js' %} "></script>
<script src="{% static 'assets/lib/lightbox/js/lightbox.min.js' %} "></script>
<script src="{% static 'assets/lib/touchSwipe/jquery.touchSwipe.min.js' %} "></script>
<!-- Contact Form JavaScript File -->
<script src="{% static 'assets/contactform/contactform.js' %} "></script>

<!-- Template Main Javascript File -->
<script src="{% static 'assets/js/main.js' %} "></script>